            <div class="row">
                <div class="col-sm-12">
                    <div id="btn-group-home" class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <a href="#/home" class="btn btn-inverse" ><i class="fa fa-users"></i> Party List</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="#/map" id="bMap" class="btn btn-inverse"><i class="fa fa-map-marker"></i> Map</a>
                        </div>
                    </div>
                </div>
            </div>