				
					
					
				    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <style>
				    .dropdown-menu {
    					background-color: #154e75;
    				}
				    .datepicker {
					    z-index: 100000;
					}
				    </style>
				    <script>
						$(document).ready(function(){
							$(function(){
								$('#birthday').datepicker({
									format: 'yyyy-mm-dd',
									autoclose: true}).on('changeDate', function (ev) {
							         $(this).blur();
							         $(this).datepicker('hide');
										});
								});
							});
					</script>
						<div class="modal-dialog">
							<div class="modal-content" >
								<!--Modal Header-->
								<div class="modal-header" >
									<h4 class="modal-title" id = "myModalLabel" >
				                        Sign Up
									</h4>
								</div >

								<!--Modal Body-->
								<form name="modalForm">
									<div class="modal-body row " style="margin-left: 40px">
										<div class="col-md-12" style="">
											<div id="divFirstName" class="form-group col-md-4 marginbottom10" >
												<label for="first_name" class="form-control-label" ></label >
												<div class="right-inner-addon ">
													<i id="iconFirstName" class=""></i>
													<input type="text" class="form-control blue" placeholder="First name" id="firstname" name="first_name" onblur="validateFirstName(this.value),enablesubmit()" ng-model="first_name"/>
												</div>
											</div >
											<div id="divLastName" class="form-group col-md-6 marginbottom10" >
												<label for="last_name" class="form-control-label" ></label >
												<div class="right-inner-addon ">
													<i id="iconLastName" class=""></i>
													<input type = "text" class="form-control blue" placeholder="Last name" id="lastname" name="last_name" onblur="validateLastName(this.value),enablesubmit()" ng-model="last_name"/>
												</div>
											</div >
										</div >
										<div id="validateFirstName">

										</div>
										<div id="validateLastName">

										</div>
										<div class="col-md-12" >
											<div id="divEmail" class="form-group col-md-10" >
												
												<div class="right-inner-addon">
													<i id="iconEmail" class=""></i>
													<input type="email" class="form-control blue" placeholder="E-mail" id="email" onblur="validateEmail(this.value),enablesubmit()" ng-model="email"/>
												</div>
											</div >
										</div>
										<div id="validateEmail">

										</div>
										<div class="col-md-12" >
											<div class="col-md-2" >
												<input type="radio" value="male" name="gender" ng-model="gender"> Male
											</div >
											<div class="col-md-3" >
												<input type="radio" value="female" name="gender" ng-model="gender"> Female				
											</div>
										</div >
										<div class="col-md-12" >
											<div id="divLogin" class="form-group col-md-5" >
												<label for="login"></label >
												<div class="right-inner-addon">
													<i id="iconLogin" class=""></i>
													<input type="text" class="form-control blue" placeholder="Login" id="login" onblur="validateLogin(this.value),enablesubmit()" ng-model="login"/>
												</div>
											</div >
										</div>
										<div id="validateLogin">

										</div>
										<div class="form-group col-md-12 marginbottom0" >
											<div id="divPass" class="col-md-5" >
												<div class="right-inner-addon ">
													<i id="iconPass" class=""></i>
													<input type="password" style="margin-bottom: 10px" class="form-control blue" placeholder="Password" id="first_password" onblur="validatePassword(this.value),enablesubmit()" ng-model="pass"/>
												</div>
											</div >
											<div id="divConfirmPass" class="col-md-5" >
												<div class="right-inner-addon ">
													<i id="iconConfirmPass" class=""></i>
													<input type="password" class="form-control blue" placeholder="Confirm password" id="confirm_password" onblur="validateConfirmPass(),enablesubmit()"/>
												</div>
											</div >
										</div >
										<div id="validatePass">

										</div>
										<div id="validateConfirmPass">

										</div>
										<div class="col-md-12">
											<div id="divDate" class="form-group col-md-5" >
											
												<label>Birthday</label>
												<div class="right-inner-addon ">
													<i id="iconDate" class=""></i>
													<input type="text" class="form-control blue datepicker" placeholder="Birthday" id="birthday" onblur="validateDate(this.value),enablesubmit()" ng-model="birthday"/>
												</div>
											</div >
										</div >
										<div id="validateDate">

										</div>
										<div class="form-group col-md-10 text-right margintop30" >
											<button id="modalClose" type="button" class="btn btn-default" data-dismiss="modal" onclick="document.modalForm.reset();">Close</button >
											<button id="modalSend" type="button" class="btn btn-primary" onclick="setDate()" ng-click="functionPOST(first_name,last_name,birthday,email,login,pass,gender)" disabled>Send</button
										</div >
									</div >
								</form>
							</div >
						</div >
					</div >